#name
{
    font-family : monospace;
    font-size : 50px;
    text-emphasis : underline;
    color : blue;
    opacity : 0.5;
}

.about
{
    font-family : Helvetica, sans-serif;
}

h1
{
    color : red;
}

li:hover
{
    color : green;
}

h4.about
{
    color : orange;
}